# =========================
# Node modules
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime data
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# Coverage & build
# =========================
coverage/
dist/
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# MongoDB
# =========================
dump/
